mat-form-field {
  width: 100%;
  padding: 0 1rem;
}

mat-dialog-actions {
  justify-content: space-between;
}

.mat-mdc-form-field, mat-label {
  font-size: 1.3rem;
}

.dialog-title {
  font-size: 2.2rem;
  text-align: center;
}

.action-button {
  font-size: 1.4rem;
}

