.modal-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.form-section {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 1.1rem;
  margin-bottom: 8px;
}

/* Estilos de los campos de entrada */
mat-form-field {
  width: 100%;
}

mat-form-field input {
  padding: 10px;
  font-size: 1rem;
}

/* Estilo para las acciones del modal (botones) */
.modal-actions {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}

/* Estilo para los botones */
.modal-actions button {
  font-size: 1rem;
  padding: 10px 15px;
  margin-left: 10px;
}

