.container {
  padding-top: 2rem;
  width: 100%;
  gap: 2rem;
}
.options{
  padding: 1rem 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.options-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.option {
  list-style: none;
}
.selected {
  border: 0.1rem solid white;
}
