.buttons{
  display: flex;
  gap: 1rem;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item:hover .item-buttons{
  opacity: 1;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.item-buttons{
  opacity: 0;
  display: flex;
  gap: 0.5rem;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
