<section>
  <header class="header">
    <h2>Task distribution</h2>
  </header>
  <form class="form-task" [formGroup]="taskForm" (submit)="onSubmit($event)">
    <mat-form-field>
      <mat-label>Task</mat-label>
      <input matInput placeholder="Enter new task name" formControlName="taskName" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Mechanic</mat-label>
      <mat-select formControlName="mechanic" required>
        @for(mechanic of mechanics(); track mechanic.id){
          <mat-option [value]="mechanic.id">{{mechanic?.firstName}} {{mechanic?.lastName}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <div class="buttons">
      <button mat-button class="button" type="submit">{{editMode()?"Save": "New task"}}</button>
      @if(editMode()){
        <button mat-button class="button" type="button" (click)="onCancelRequest()">Cancel</button>
      }
    </div>
  </form>
  <table mat-table [dataSource]="tasks">
    <ng-container matColumnDef="task">
      <th mat-header-cell *matHeaderCellDef>Task</th>
      <td mat-cell *matCellDef="let task">{{task.description}}</td>
    </ng-container>
    <ng-container matColumnDef="mechanic">
      <th mat-header-cell *matHeaderCellDef>Mechanic</th>
      <td mat-cell *matCellDef="let task">{{task.assistant.firstName}} {{task.assistant.lastName}}</td>
    </ng-container>
    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef>Options</th>
      <td mat-cell *matCellDef="let task">
        <button mat-icon-button color="primary" (click)="onEditItem(task)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDeleteItem(task)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>
